body{
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* Header Section */
#navbar{
    position:sticky;
    top:0;
    z-index: 1000;
}

.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 10px;
}
#navbar .nav-link{
    padding: 2px 16px;
    color:white;
    float:right
}
#navbar .navbar-brand{
  width:150px;
}
#navbar .fa-bars{
    font-size:26px;
    color:white !important
}
#navbar .navbar-toggler{
    box-shadow: none;
    border: none;
}
/* Hero Section */
#hero{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}

.content{
    margin-top:130px;
}

#hero .image{
    width:40px;
    margin-left: 20px;
}
#hero h1{
    color:white;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
#hero p{
    color:rgba(255, 255, 255, 0.844);
    font-weight:100;
    margin-bottom: 30px;
}
#hero a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
.wave{
    width:100%;
}
/* Services Section */
#services{
    margin-top: 100px;
}
#services .h1text{
    padding-top: 100px;
}
#services .services-image{
    width:70px;
    margin-bottom: 26px;
}
.h1text{
    margin-bottom: 100px;
    position: relative;
}
 .h1text::before{
   content:'';
   transform: translateY(63px);
   margin-left:auto;
   margin-right: auto;
   display: block;
   width:200px;
   height:5px;
   background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.h1text::after{
   content:'';
   transform: translateY(8px);
   display: block;
   margin-left:auto;
   margin-right: auto;
   width:50px;
   height:9px;
   background-image: linear-gradient(to right, #a517ba,#5f1782);
}
#services h3{
    font-size:23px;
}
#services p{
    line-height: 1.5;
    color:#777;
    font-size:13px;
}
#services .row{
    margin-bottom: 30px;
}
.services-btn{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* About Us */
#about{
    margin-top: 100px;
    background-color: #f8f9fa;
}
#about .h1text{
    padding-top: 100px;
}
.about-heading{
    margin-left: 30px;
    font-size:35px;
    margin-bottom: 25px;
}
.about-list li{
    margin: 12px 0;
}
/* Testimonials section */
#testimonial{
    margin-top: 100px;
}
#testimonial .h1text{
    padding-top: 100px;
}
.client-pic{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right: 10px;
}
.client{
    border-left: 5px solid #a517ba;
    margin: 10px 0;
}
.client p{
    font-size:12.5px;
    color:#777
}
.client-details{
    display: inline-block;
    font-size:12px;
}
/* Contact Section */
#contact{
    margin-top:100px;
    background-color:  #f8f9fa;;
}
.contact-heading{
    padding-top: 100px;
    margin-bottom: 30px;
}
.contact-images{
    width:50px;
    margin-bottom: 90px;
    transition: all .2s ease-in-out;
}
.contact-images:hover{
    transform:translateY(-5px);
    cursor: pointer;
}
.wave2{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}
/* footer Section */
#footer{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.footer-logo{
    width:150px;
}
#footer p{
    color:rgba(255, 255, 255, 0.852);
    font-size: 12px;
    margin-top: 20px;
}
#footer .last-p{
    font-size:20px;
    margin: 0;
}
.icons{ 
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    margin-right: 10px;
    font-size:20px;
    padding: 5px 5px;
}
input[type="email"]{
    margin: 15px 0;
}
::placeholder{
    font-size: 12px;
}
.subscribe{
    display: block;
    text-decoration: none;
    color:white;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    width: fit-content;
    padding: 5px 10px;
}
hr{
    color:white;
}
.copyright{
    font-size:15px
}
/* Media Queries */
@media (max-width:991px){
    .home-image{
        margin-top: 70px;
    }
    .h1text::after{
        transform: translateY(14px);
      }
}
@media (max-width:820px){
    .h1text::after{
        transform: translateY(15px);
      }
}
@media (max-width:540px){
    .h1text::after{
       transform: translateY(20px);
     }
}
@media (max-width:450px){
    .h1text::after{
       transform: translateY(23px);
     }
}
@media (max-width:300px){
    .h1text::after{
       transform: translateY(25px);
     }
}